<div id="investor-login">
  <%= render partial: 'layouts/messages' %>
    <div class="col-lg-3"></div>
    <div class="col-xs-12 col-lg-6">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-horizontal') do |f| -%>
        <div class="col-md-5" style="border-right:1px solid white">
          <h3>Closed beta</h3>
          <%= f.text_field :email, placeholder: 'Name', class: 'form-control' %> <br>
          <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
          <%= f.submit "Enter", data: { disable_with: 'Entering...' }, class: 'btn btn-default ' %>
        </div>
      <% end %>
      <div class="col-md-7">
        <div id="signup_news">
          <p><strong>We enable businesses to access expert advice on-demand.</strong></p>
          <p>We are currently in stealth mode and are collecting user feedback (beta phase). Once we are live and open to the public, we will be much more descriptive about what we do.</p>
          <p>Signup here to be the first to know when we launch.</p>
          <%= form_for @newsletter, url: '/investors/newsletter', remote: true, html: { class: 'form-inline', id: 'newsletter-form' } do |f| -%>
            <div id="register">
              <div id="error" class="alert alert-danger" style="display:none">There was an error with your request.</div>
              <div id="success" class="alert alert-success" style="display:none">Thank you! We'll get back to you as soon as possible!</div>
              <div class="form-group">
                <%= f.text_field :email, placeholder: 'Your email', class: 'form-control' %>
              </div>
              <%= f.submit "Go", class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-3"></div>
</div>
