<div id="calls">
  <div class="overview-table-head">In the next 7 days</div>
  <table class="overview-table table table-striped">
    <tbody>
      <% if @next_7_days.any? %>
        <% @next_7_days.each do |call| %>
          <tr class="<%= call_class(call) %>">
            <td><%= call_status(call) %></td>
            <td>
              Call with <%= name_link(call) %>
              <% if call.message.present? %>
                <span class="flaticon flaticon-info help" data-toggle="tooltip" data-placement="top" title="" data-original-title="<%= call.message %>">
              <% end %>
            </td>
            <td><%= request_status(call) %></td>
            <td>PIN: <%= call.pin %></td>
            <td>
              <% if expert?(call) and pending?(call) %>
                <%= link_to 'confirm', call_confirm_path(call), class: 'link-confirm', remote: true, method: :patch %>
                <%= link_to 'decline', call_cancel_path(call), class: 'link-deny', remote: true, method: :patch %>
              <% end %>
              <% if cancellable?(call) %>
                <%= link_to 'cancel', call_cancel_path(call), class: 'link-cancel', remote: true, method: :patch  %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="3">The are are no calls in the next 7 days.</td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="overview-table-head">In 7 days or more</div>
  <table class="overview-table table table-striped">
    <tbody>
      <% if @after_7_days.any? %>
        <tr>
          <td>Requested</td>
          <td><a href="#">Tuesday, 25 Jun 2014, 11:15am - 1:00pm with John Doe</a>
          </td>
          <td>Scheduled</td>
          <td><a class="link-cancel" href="#">cancel</a>
        </td>
      </tr>
      <% else %>
        <tr>
          <td colspan="3">The are are no calls in the next 7 days.</td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>