<li>
  <p>
    <%= call.topic %> with <%= partner_for(call).name %>
  </p>
  <% if call.active? %>
    <p>The call is currently available. Just call <strong>+14157989002</strong> and use the following PIN number: <strong><%= call.pin %></strong></p>
    <p>The call period will end on <strong><%= l call.active_to %></strong></p>
  <% else %>
    <p>The call will start at <strong><%= l active_from %></strong></p>
  <% end %>
</li>
