<tr class="<%= call_class(call) %>">
  <td><%= call_status(call) %></td>
  <td>
    <%= start_time_for(call) %> with <%= name_link(call) %>
    <% if call.message.present? and expert?(call) %>
      <span class="flaticon flaticon-info help" data-toggle="tooltip" data-placement="top" title="" data-original-title="<%= call.message %>">
    <% end %>
  </td>
  <td><%= request_status(call) %></td>
  <td></td>
  <td>
    <% if active? call %>
      PIN: <%= call.pin %>
    <% end %>
  </td>
  <td>
    <% if expert?(call) and pending?(call) %>
      <%= link_to 'confirm', call_confirm_path(call), class: 'link-confirm', remote: true, method: :patch %>
      <%= link_to 'decline', call_cancel_path(call), class: 'link-deny', remote: true, method: :patch %>
    <% end %>
    <% if seeker?(call) and pending?(call) %>
      <%= link_to 'abandon', call_cancel_path(call), class: 'link-cancel', remote: true, method: :patch  %>
    <% end %>
    <% if cancellable?(call) and !pending?(call) %>
      <%= link_to 'cancel', call_cancel_path(call), class: 'link-cancel', remote: true, method: :patch  %>
    <% end %>
  </td>
</tr>
