<div class="dashboard container">
  <h3>Dashboard</h3>
  <div class="row">
    <div class="col-sm-12">
      <h4>Upcoming calls</h4>
      <%= render partial: 'calls', locals: { calls: @calls } %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h4>Requested calls <small>Calls other users requested</small></h4>
      <ul id="requested_calls">
        <% if @requests.any? %>
          <% @requests.each do |request| %>
            <li id="<%= dom_id request %>">
              <h5><%= request.name %> <small>with <%= request.seeker.name %></small></h5>
              <% if request.message %>
                <%= simple_format request.message %>
              <% end %>
              <div class="btn-group">
                <%= link_to 'Accept', accept_request_path(request), class: 'btn btn-success', remote: true, method: :patch, data: { disable_with: 'Accepting' }%>
                <%= link_to 'Decline', decline_request_path(request), class: 'btn btn-danger', remote: true, method: :patch, data: { confirm: 'Are you sure?', disable_with: 'Declining' }%>
              </div>
            </li>
          <% end %>
          <% else %>
            <li class="none">You have no call requests</li>
          <% end %>
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h4>Your requests <small>Calls your requested</small></h4>
      <ul id="active_requests">
        <% if @outstanding.any? %>
          <% @outstanding.each do |request| %>
            <li id="<%= dom_id(request) %>">
              <h5><%= request.name %> <small>with <%= request.expert.name %></small></h5>
              <div class="btn-group">
                <%= link_to 'Cancel', cancel_request_path(request), class: 'btn btn-danger', remote: true, method: :patch, data: { confirm: 'Are you sure?', disable_with: 'Cancelling' } %>
              </div>
            </li>
          <% end %>
        <% else %>
          <li class="none">You have requested no calls</li>
        <% end %>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <h3>I want to..</h3>
      <ul>
        <li>
          <%= link_to '...manage calls I offered', '#'  %>
        </li>
        <li>
          <%= link_to '...manage calls I requested', '#'  %>
        </li>
      </ul>
    </div>
  </div>
</div>
