<div class="tab-pane active" id="settings-profile">
  <div class="row divider">
    <div class="col-md-7">
      <label class="input-label">Your email address</label>
      <%= render partial: 'user_email' %>
      <div class="modal fade" id="email_modal" tabindex="-1" role="dialog" aria-labelledby="Email" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="Timezone change">Change your email</h4>
            </div>
            <%= form_for @user, url: profile_settings_path, remote: true do |f| -%>
              <div class="modal-body">
                <%= f.email_field :contact_email, class: 'form-control', placeholder: 'Email' %>
              </div>
              <div class="modal-footer">
                <%= f.submit "Save", class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <span class="info flaticon flaticon-info">We need a confirmed email address so that we can send you meeting request updates.</span>
    </div>
  </div>
  <div class="row divider">
    <div class="col-md-7">
      <label class="input-label">LinkedIn
        <small class="req">required if you are an expert</small>
      </label>
       <% if needs_linkedin? %>
        <div class="input-group">
          <%= link_to connect_linkedin_settings_path, class: 'btn btn-primary', data: { disable_with: 'Connecting to LinkedIn...' }, method: :patch do %>
            <i class="fa fa-linkedin"></i> Connect with LinkedIn
          <% end %>
        </div>
      <% else %>
        <div class="input-group input-wicon input-linkedin flaticon flaticon-linkedin">
          <input readonly type="text" class="form-control <%= 'chk' if @user.confirmed? %>" value="<%= @user.linkedin_email %>">
          <span class="input-group-btn">
            <a class="btn btn-primary" type="a" data-toggle="modal" data-target="#linkedin_disco_modal">Disconnect</a>
          </span>
        </div>
        <div class="modal fade" id="linkedin_disco_modal" tabindex="-1" role="dialog" aria-labelledby="Disconnect Linkedin" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="Timezone change">Disconnect your Linkedin profile</h4>
              </div>
              <%= form_for @user, url: disconnect_linkedin_settings_path, remote: true, method: :put do |f| -%>
                <div class="modal-body">
                  <p>This will disconnect your linkedin profile.</p>
                  <p>Are you sure you want to disconnect your profile?</p>
                </div>
                <div class="modal-footer">
                  <p>
                    <%= f.submit "Yes", class: 'btn btn-success' %>
                    <button type="button" class="btn btn-danger" data-dismiss='modal'>No</button>
                  </p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-5">
      <span class="info flaticon flaticon-info">We use LinkedIn profile from experts as social proof. We require more than <%= Settings.required_network %> contacts. Also we will share a link to your profile with advice seekers in order for them to get a better idea about you.</span>
    </div>
  </div>

  <div class="row divider">
    <div class="col-md-7">
      <%= form_for @user, url: profile_settings_path, remote: true do |f| -%>
      <label class="input-label">Meeting reminder</label>
      <p>
        Send me an email reminder <%= f.text_field :notification_time, class: 'form-control form-control-sm meeting-setting' %> minutes before the meeting
      </p>
       <% end %>
    </div>
    <div class="col-md-5">
      <span class="info flaticon flaticon-info">Valid for all upcoming events.</span>
    </div>
  </div>
  <div class="row divider">
    <div class="col-md-7">
      <%= form_for @user, url: profile_settings_path, remote: true do |f| -%>
        <label class="input-label">Time zone</label>
        <%= f.time_zone_select :timezone, ActiveSupport::TimeZone.all, {}, class: 'form-control meeting-setting' %>
      <% end %>
    </div>
    <div class="col-md-5">
      <span class="info flaticon flaticon-info">We share this information with advice seekers in order for them to get a better idea about you.</span>
    </div>
  </div>
</div>