<div class="tab-pane active" id="settings-profile">
  <div class="row divider">
    <div class="col-md-7">
      <label class="input-label">Your email address</label>
      <%= render partial: 'user_email' %>
    </div>
    <div class="col-md-5">
      <span class="info flaticon flaticon-info">We need a confirmed email address so that we can send you meeting request updates.</span>
    </div>
  </div>
  <div class="row divider">
    <div class="col-md-7">
      <label class="input-label">LinkedIn
        <small class="req">required if you are an expert</small>
      </label>
       <% if needs_linkedin? %>
        <div class="input-group">
          <%= link_to connect_linkedin_settings_path, class: 'btn btn-primary', data: { disable_with: 'Connecting to LinkedIn...' }, method: :patch do %>
            <i class="fa fa-linkedin"></i> Connect with LinkedIn
          <% end %>
        </div>
      <% else %>
        <div class="input-group input-wicon input-linkedin flaticon flaticon-linkedin">
          <input readonly type="text" class="form-control <%= 'chk' if @user.confirmed? %>" value="<%= @user.linkedin_email %>">
        </div>
      <% end %>
    </div>
    <div class="col-md-5">
      <span class="info flaticon flaticon-info">We use LinkedIn profile from experts as social proof. We require more than <%= Settings.required_network %> contacts. Also we will share a link to your profile with advice seekers in order for them to get a better idea about you.</span>
    </div>
  </div>

  <div class="row divider">
    <div class="col-md-7">
      <label class="input-label">Twitter</label>
      <%= form_for @user, url: profile_settings_path, remote: true do |f| -%>
        <div class="input-group input-wicon input-twitter flaticon flaticon-twitter">
          <%= f.text_field :twitter_handle, class: 'form-control' %>
          <span class="input-group-btn">
            <%= f.submit "Change", class: 'btn btn-primary' %>
          </span>
        </div>
      <% end %>
    </div>
    <div class="col-md-5">
      <span class="info flaticon flaticon-info">We share this information with advice seekers in order for them to get a better idea about you.</span>
    </div>
  </div>

  <div class="row divider">
    <div class="col-md-7">
      <%= form_for @user, url: profile_settings_path, remote: true do |f| -%>
      <label class="input-label">Meeting reminder</label>
      <p>
        Send me an email reminder <%= f.text_field :notification_time, class: 'form-control form-control-sm meeting-setting' %> minutes before the meeting
      </p>
       <% end %>
    </div>
    <div class="col-md-5">
      <span class="info flaticon flaticon-info">Valid for all upcoming events.</span>
    </div>
  </div>
  <div class="row divider">
    <div class="col-md-7">
      <%= form_for @user, url: profile_settings_path, remote: true do |f| -%>
        <label class="input-label">Time zone</label>
        <%= f.time_zone_select :timezone, ActiveSupport::TimeZone.all, {}, class: 'form-control meeting-setting' %>
      <% end %>
    </div>
    <div class="col-md-5">
      <span class="info flaticon flaticon-info">We share this information with advice seekers in order for them to get a better idea about you.</span>
    </div>
  </div>
  <div class="row divider">
    <div class="col-md-7">
      <%= form_for @user, url: profile_settings_path, remote: true do |f| -%>
        <%= f.label :newsletter, "Newsletter", class: 'input-label' %>
        <%= f.select :newsletter, {'Yes' => true, 'No' => false}, {}, class: 'form-control meeting-setting' %>
      <% end %>
    </div>
    <div class="col-md-5">
      <span class="info flaticon flaticon-info"> Do you want to receive our Newsletter?</span>
    </div>
  </div>
</div>
