<div class="row">
  <div class="col-lg-2">
    <%# image_tag expert.profile_image.url, class: 'img-responsive', alt: expert.name %>
  </div>
  <div class="col-lg-6">
    <h3><%= expert.name %></h3>
    <p class="lead"><%= offer_for(expert, @group).description %></p>
    <% if @user.nil? %>
      <%= link_to 'Signup to book this expert', new_registration_path %>
    <% else %>
      <%= link_to 'Book this expert', review_requests_path(expert.slug, offer_for(expert, @group)) %>
    <% end %>
    <%= link_to(favorite_path(expert), method: :put, remote: true, id: 'fav_link') do %>
    <%#data: { confirm: 'Are you sure?' }%>
       <i class="fa fa-star<%= (@user.favorites.where(favorite_id: expert._id).exists?) ? '' : '-o'  %>"></i> Bookmark
    <% end %>
  </div>
  <div class="col-lg-4">
    Rate: <%= offer_for(expert, @group).rate %> USD <br>
    Experience: <%= offer_for(expert, @group).experience %> years
  </div>
</div>
