<div class="container expert_filters">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <%= link_to find_an_expert_path do %>
        &laquo; Back to overview
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2>Find an expert</h2>
      <p class="lead">Available experts for &quot;<%= @group.name %>&quot;</p>
    </div>
  </div>
  <%= form_tag search_path, remote: true, class: 'form-horizontal' do %>
    <div class="filters row">
      <div class="col-lg-12">
        <h4>Filter</h4>
          <div class="col-lg-3">
            <fieldset>
              <legend>Availability Date</legend>
              <ul>
                <% date_options.each_with_index do |options, index| %>
                  <li class="list-item<%= index == 0 ? ' all' : ' hidden' %>">
                    <%= content_tag :label do %>
                      <%= radio_button_tag "date", options[1], options[1].nil? %>
                      <%= options[0] %>
                    <% end %>
                    <% if index == 0 %>
                      <span class="badge pull-right opener" data-text="less">more</span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </fieldset>
          </div>
          <div class="col-lg-3">
            <fieldset>
              <legend>Availability Time</legend>
              <ul>
                <% time_options.each_with_index do |options, index| %>
                 <li class="list-item<%= index == 0 ? ' all' : ' hidden' %>">
                    <%= content_tag :label do %>
                      <%= radio_button_tag "date", options[1], options[1].nil? %>
                      <%= options[0] %>
                    <% end %>
                    <% if index == 0 %>
                      <span class="badge pull-right opener" data-text="less">more</span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </fieldset>
          </div>
          <div class="col-lg-3">
            <fieldset>
              <legend>Hourly rate</legend>
              <div class="col-lg-11 text-center">
                <%= number_field_tag :rate, 0, class: 'slider form-control', data: { min: 0, max: 600, range: true } %>
              </div>
            </fieldset>
          </div>
            <div class="col-lg-3">
            <fieldset>
              <legend>Experience</legend>
              <div class="col-lg-11">
                <%= number_field_tag :rate, 0, class: 'slider form-control', data: { range: true, min: 0, max: 60, label: ' years' } %>
              </div>
            </fieldset>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="btn-group">
        <%= submit_tag 'Search', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
  <div class="col-lg-12 hidden" id="result">
    <hr>
    <h2>Results</h2>
  </div>
</div>
