<div id="landing-offerinfos" class="slide-text text-grey">
  <div class="container">
    <p class="offerinfo-head">Find experts in 500+ Service Offerings</p>
    <div class="row">
      <div class="offerinfo col-md-3">
        <p class="service-head">Career Advancement</p>
        <p>Improve your chances to land or grow your professional services job with guidance from insiders</p>
        <ul class="service-list">
          <li><span class="fa fa-arrow-right"></span> <%= link_to "Mock interviews for Management Consulting", '#' %></li>
          <li><span class="fa fa-arrow-right"></span> <%= link_to "General Mentoring & Professional Growth Insights", "#{groups_path}/general-mentoring-and-professional-growth-insights" %></li>
          <li><span class="fa fa-arrow-right"></span> <%= link_to "Relationship building & networking", "#{groups_path}/relationship-building-and-networking" %></li>
          <li><span class="fa fa-arrow-right"></span> + 20 more</li>
        </ul>
      </div>
      <div class="offerinfo col-md-3">
        <p class="service-head">Functional Advice</p>
        <p>Learn specifics from functional experts and apply them to your situation</p>
        <ul class="service-list">
          <li><span class="fa fa-arrow-right"></span> <%= link_to 'Due Diligence', "#{groups_path}/due-diligence-acquisition-and-vendor"  %></li>
          <li><span class="fa fa-arrow-right"></span> <%= link_to 'Pricing & Margin Management', "#{groups_path}/pricing-and-margin-management"  %></li>
          <li><span class="fa fa-arrow-right"></span>  <%= link_to 'Startup Financing', "#"  %></li>
          <li><span class="fa fa-arrow-right"></span> + 150 more</li>
        </ul>
      </div>
      <div class="offerinfo col-md-3">
        <p class="service-head">Industry Insights</p>
        <p>Discover industry insights fast from people who practice it on a day-to-day basis</p>
        <ul class="service-list">
          <li><span class="fa fa-arrow-right"></span> <%= link_to 'Automotive: Body Components & Trim', '#' %></li>
          <li><span class="fa fa-arrow-right"></span> <%= link_to 'Insurance: Employee Benefits & Pensions', '#' %></li>
          <li><span class="fa fa-arrow-right"></span> <%= link_to 'Metals & Mining: Iron Ore Production', '#'  %></li>
          <li><span class="fa fa-arrow-right"></span> + 250 more</li>
        </ul>
      </div>
      <div class="offerinfo col-md-3">
        <p class="service-head">Methodological Advice</p>
        <p>Advance your ideas with proven frameworks and their correct applications</p>
        <ul class="service-list">
          <li><span class="fa fa-arrow-right"></span> <%= link_to "Business Problem Structuring", "#" %></li>
          <li><span class="fa fa-arrow-right"></span> <%= link_to "Interview Structuring", "#" %></li>
          <li><span class="fa fa-arrow-right"></span> <%= link_to "Sounding Board Review", "#" %></li>
          <li><span class="fa fa-arrow-right"></span> + 20 more</li>
        </ul>
      </div>
    </div>
    <p class="link-centered">
        <%= link_to find_an_expert_path do %>
          Explore service offerings &amp; browse experts <span class="fa fa-arrow-right"></span>
        <% end %>
    </p>
  </div>
</div>
