<div id="bookmarks">
  <h2>My bookmarked experts</h2>
  <% if @favorites.any? %>
    <% @favorites.each do |expert| %>
      <div id="<%= dom_id expert %>" class="expert bookmarked clr">
        <div class="expert-left">
          <div class="expert-images">
            <div class="expert-img">
              <%= image_tag expert.profile_image.url, alt: expert.name %>
            </div>
            <%= link_to 'Full profile', expert_page(expert) %>
          </div>
          <div class="expert-name heading2">
            <%= expert.name %><br>
            <% unless expert.companies.current.nil? %>
            <small>
                <%= expert.companies.current.name %>, <%= expert.companies.current.position %>, <%= "#{expert.companies.current.city}, " if expert.companies.current.city.present? %><%= career_span(expert.companies.current) %>
            </small>
            <% end %>
          </div>
          <div class="expert-offs">
            <% if expert.companies.any? %>
              <ul id="companies_<%= dom_id(expert) %>">
                <% expert.past_companies.each_with_index do |company, idx| %>
                  <li class="<%= 'hidden' if idx > 2 %>"><strong><%= company.name %></strong>, <%= company.position %> <%= career_span(company) %></li>
                <% end %>
              </ul>
              <% if expert.past_companies.length > 3 %>
                <div class="text-center"><a class="show_all" data-target="#companies_<%= dom_id(expert) %>" ng-click>show all</a></div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="expert-right">
          <div class="expert-history">
            <% if expert.offers.enabled.any? %>
              <ul id="offers_<%= dom_id expert %>">
                <% expert.offers.enabled.each_with_index do |offer, idx| %>
                  <li class="<%= 'hidden' if idx > 2 %>">
                    <%= link_to offer.name, "#{groups_path}/#{offer.slug}" %>
                  </li>
                <% end %>
              </ul>
              <% if expert.offers.enabled.length > 3 %>
                <div class="text-center"><a class="show_all" data-target="#offers_<%= dom_id(expert) %>" ng-click>show all</a></div>
              <% end %>
            <% end %>
          </div>
          <div class="expert-end right">
            <%= link_to 'Remove from my bookmarks', favorite_path(expert), class: 'btn btn-primary', remote: true, method: :put, data: { disable_width: 'Removing...'} %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="text-center" id="no_bookmarks">You have no experts bookmarked</div>
  <% end %>
</div>
