<div id="profile">
  <% if user_expert_page? %>
    <div class="alert notice">This is your expert page - to edit your information and availability, <%= link_to 'click here', offers_path %></div>
  <% end %>
  <div id="profile-main" class="row divider">
    <div class="profile-info col-md-7">
      <div class="profile-image">
        <%= image_tag profile_image_url, alt: name, class: 'profile-img' %>
        <% if linkedin_profile? %>
          <%= link_to '', linkedin_profile_url, class: "flaticon flaticon-linkedin", target: '_blank' %>
        <% end %>
        <% if expert_twitter? %>
          <%= link_to '', expert_twitter_url, class: 'flaticon flaticon-twitter', target: '_blank'  %>
        <% end %>
      </div>
      <h1>
        <%= name %>
        <%= render partial: 'users/favorites/bookmark' %>
      </h1>
      <% if current_position  && current_company %>
        <p class="bigger">
        <% if company_url %>
          <%= link_to current_company_name, company_url, target: '_blank' %>,
        <% else %>
          <%= current_company_name %>,
        <% end %>
        <% if current_company_city.present? %>
          <%= current_company_city %>,
        <% end %>
        <%= current_position %>,
        <%= career_span(current_company) %>
        </p>
      <% end %>
      <% if summary? %>
        <div class="profile-heading">Profile summary</div>
        <p class="bigger"><%= simple_format summary %></p>
      <% end %>
    </div>
    <% if past_companies? or education? %>
      <div class="profile-side col-md-offset-1 col-md-4">
        <% if past_companies? %>
          <div class="profile-heading">Previous positions</div>
          <ul class="profile-posed">
            <% past_companies.each do |company| %>
              <li>
                <span>
                  <strong><%= company.name %></strong>, <%= company.position %>, <%= career_span(company) %></li>
                </span>
            <% end %>
          </ul>
        <% end %>
        <% if education? %>
          <div class="profile-heading">Education</div>
          <ul class="profile-posed">
            <% educations.each do |edu| %>
              <li>
                <span>
                  <strong><%= edu.name %></strong>, <%= edu.degree %> <%= education_span(edu).nil? ? '' : education_span(edu) %>
                </span>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% else %>
      <div class="block"></div>
    <% end %>
  </div>
  <div ng-app="consulted.offer_select" data-expert="<%= @expert.slug %>" data-offset="<%= current_tz_offset %>">
    <div ng-controller="OffersCtrl">
      <h2 class="heading">Expert's service offerings</h2>
      <div ng-show="loading">Loading...</div>
      <div ng-show="!loading && offers.length === 0">
        <h3 class="text-center">The expert does not provide any services yet.</h3>
      </div>
      <div offer="offer" ng-show="!loading && offers.length > 0" class="clr profile-offering" ng-repeat="offer in offers"></div>
    </div>

    <h2 class="heading">Book a call with <%= name %></h2>
    <div offer-lengths></div>
    <div class="book">
      <div class="clr book-langs">
        <div class="book-lang<%= ' active' if @expert.languages.include?('arabic') %>">Arabic</div>
        <div class="book-lang<%= ' active' if @expert.languages.include?('english') %>">English</div>
        <div class="book-lang<%= ' active' if @expert.languages.include?('german') %>">German</div>
        <div class="book-lang<%= ' active' if @expert.languages.include?('mandarin') %>">Mandarin</div>
        <div class="book-lang<%= ' active' if @expert.languages.include?('spanish') %>">Spanish</div>
      </div>
      <div id="scheduler-read" class="scheduler">
        <div ng-controller="AvailabilityCtrl">
          <div data-dhx-scheduler-readonly ng-show="show_cal && events.length > 0" events='events' style="height: 550px">
            <div class="dhx_cal_prev_button">&nbsp;</div>
            <div class="dhx_cal_next_button">&nbsp;</div>
            <div class="dhx_cal_today_button"></div>
            <div class="dhx_cal_date"></div>
          </div>
          <div class="text-center" ng-show="show_cal && events.length === 0">
            <h3>The expert is not available for the selected offering.</h3>
          </div>
          <div class="text-center" ng-hide="show_cal">
            <h3>Please select one of the service offerings above.</h3>
          </div>
        </div>
      </div>
    </div>
    <% %w(offer).each do |partial| %>
      <script type="text/ng-template" id="<%= partial %>">
        <%= render partial: "expert/ng/#{partial}" %>
      </script>
    <% end %>
  </div>
</div>
