<div id="contact">
  <div class="row">
    <div class="col-md-12">
      <h1>Contact us</h1>
      <p>We are all about creating fair and productive experience for all our members. How can we help?</p>
      <% unless user_signed_in? %>
        <p>Note: If you have an account with us, please <%= link_to 'log in first', new_user_session_path %> - so we can be sure it's you.</p>
      <% end %>
    </div>
    <div class="col-md-8">
      <%= form_for @contact, html: { class: 'form-horizontal', id: 'contact_us' } do |f| -%>
        <div class="form-group">
          <%= f.label :name, "Your name", class: 'col-sm-4 control-label' %>
          <div class="col-sm-8">
            <%= f.text_field :name, class: 'form-control', value: "#{@user.name if user_signed_in?}" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :email, "Your email", class: 'col-sm-4 control-label' %>
          <div class="col-sm-8">
            <%= f.text_field :email, class: 'form-control', value: "#{@user.notification_email if user_signed_in?}" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :Subject, "Subject", class: 'col-sm-4 control-label' %>
          <div class="col-sm-8">
            <%= f.text_field :subject, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :message, "Message", class: 'col-sm-4 control-label' %>
          <div class="col-sm-8">
            <%= f.text_area :message, class: 'form-control', rows: 10 %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <%= f.submit "Send message", class: 'btn btn-primary', data: { disable_with: 'Sending...' } %>
            <span class="info flaticon flaticon-info">We will send you a copy for your reference</span>
          </div>
        </div>
      <% end %>
      </form>
    </div>
    <div class="col-md-8">
      <div class="well text-center">Or send us a email: <a href="mailto:support@consulted.co">support@consulted.co</a></div>
    </div>
  </div>
</div>
