<div class="signup login">
  <div class="well col-md-6 col-md-offset-3">
    <div class="content">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| -%>
        <div class="header">
          <h4 class="title" id="logo_bk">
            <%= image_tag 'logo-black.png', alt: 'CONSULTED.co' %>
          </h4>
          <p class="popup-slogan text-center">Log in with an existing admin account</p>
          <hr>
          <%= render partial: 'layouts/messages' %>
          <br>
        </div>
        <div class="body">
          <div class="popup-row">
            <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control' %>
          </div>
          <div class="popup-row">
            <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
          </div>

          <div class="popup-row text-center">
            <%= f.submit "Sign in", class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
