<%= render partial: 'layouts/breadcrumbs', locals: { group: @offer.group, with_group: true, with_expert: true } %>
<h2 class="heading">Your selection</h2>
<div id="expert" ng-app="consulted.booking" data-offer="<%= @offer.id.to_s %>" data-offset="<%= current_tz_offset %>">
  <div ng-controller="BookingCtrl">
    <div message="message"></div>
    <div class="expert-main row divider">
      <div class="profile-info col-md-6">
        <div class="profile-image">
          <%= image_tag profile_image_url, class: 'profile-img', alt: name %>
          <div class="clr text-center">
            <%= link_to 'Full profile', expert_page, target: '_blank' %>
          </div>
        </div>
        <h1>
          <%= name %>
          <%= render partial: 'users/favorites/bookmark' %>
          <div class="profile-links right">
            <% if linkedin_profile? %>
              <%= link_to '', linkedin_profile_url, class: 'flaticon flaticon-linkedin', target: '_blank'  %>
            <% end %>
            <% if expert_twitter? %>
              <%= link_to '', expert_twitter_url, class: 'flaticon flaticon-twitter', target: '_blank'  %>
            <% end %>
          </div>
        </h1>
        <div class="clr profile-price expert-pph">
          <span class="price">$<%= @offer.rate %></span>/hour
          <small>(our fee included)</small>
        </div>
      </div>
      <div class="col-md-6" time-select request="request">
      </div>
    </div>
    <div class="expert-details row">
      <div class="col-md-6">
        <h2>Meeting details</h2>
        <div class="meeting-details">
          <div class="row">
            <div class="col-md-4">
              <span class="bigger semibold">Service Offering:</span>
            </div>
            <div class="col-md-8">
              <div class="bigger"><%= @offer.name %></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <span class="bigger semibold">Meeting via:</span>
            </div>
            <div class="col-md-8">
              <div class="bigger">Call bridge</div>
              <small>We will provide a call-in number in your email confirmation</small>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <span class="bigger semibold">Languages:</span>
            </div>
            <div class="col-md-8">
              <div class="bigger">
                <% @expert.languages.each_with_index do |language, index| %>
                  <span language="<%= language %>" request="request" class="lang"></span><%= ', ' unless index + 1 == @expert.languages.length %>
                <% end %>
              </div>
              <small>You can select the languages you would like to conduct the call in here, if multiple available</small>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <span class="bigger semibold">Payment:</span>
            </div>
            <div class="col-md-8">
              <div class="bigger">Paypal</div>
              <small>Will be charged after the meeting</small>
            </div>
          </div>
        </div>
        <div class="clr">
          <div class="row">
            <div class="col-md-4">
              <p class="greensemi">Confirmation:</p>
            </div>
            <div class="col-md-8">
              <p>
                <small>Your call partner has 24 hours to accept or decline your request. We will inform you by email.</small>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p class="redsemi">Cancellation:</p>
            </div>
            <div class="col-md-8">
              <p>
                <small>You may cancel your request until your call partner has accepted without charge. After that there will be a fee. See our <a href="https://consultedco.zendesk.com/hc/en-us/articles/201322580" target="_blank">cancellation policy</a>.</small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="clr meeting-form">
          <div class="clr">
            <p class="bigger">Your message</p>
          </div>
          <div class="clr">
            <textarea ng-model="request.message" class="form-control" rows="10" placeholder="You can leave here a quick note about the topic. Keep it short." ng-max-length="500"></textarea>
          </div>
          <div class="clr">
            <button ng-click="confirm()" class="btn btn-primary" ng-disabled="sending">Send binding request</button>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" id="expert_id" value="<%= @expert.id.to_s %>">
    <input type="hidden" id="expert_slug" value="<%= @expert.slug %>">
  </div>
  <% %w(time_select confirm).each do |partial| %>
  <script type="text/ng-template" id="<%= partial %>">
  <%= render partial: "users/offers/ng/#{partial}" %>
  </script>
  <% end %>
</div>
