<div id="offerfull-basics" class="offerfull">
  <div class="well clr">
    <div class="col-md-12">
      <div class="eligibility row <%= profile_class %>">
        <div class="col-md-9">
          <% if @user.can_be_an_expert? %>
            <p class="heading">Great, you're eligible!</p>
            <% if @user.wants_to_be_an_expert? %>
              <p>Your profile is active!</p>
            <% else %>
              <p>You can activate your profile now!</p>
            <% end %>
          <% else %>
            <p class="heading">You cannot be an expert yet!</p>
            <p>There is some required information missing before you can offer your services with us.</p>
          <% end %>
        </div>
        <div class="eligibility-status elg col-md-3">
          <% if @user.can_be_an_expert? %>
            <% if @user.wants_to_be_an_expert? %>
              Active
            <% else %>
              Activate your profile now!
            <% end %>
          <% else %>
            Inactive
          <% end %>
        </div>
      </div>
    </div>
    <div class="clr text-right">
      <p>
        <% if active_profile? %>
          <%= link_to '#', class: 'redsemi' do %>
            <small>Deactivate</small>
          <% end %>
        <% end %>
      </p>
    </div>
    <% if active_profile? %>
      <div class="col-md-4">
        <div class="basics-sect">
          <p class="basics-head">Your expert profile page</p>
          <p class="bigger blue">
            <%= expert_page @user %>
          </p>
        </div>
        <div class="basics-sect">
          <p class="basics-head">Your location</p>
          <div class="clr">
            <select class="form-control">
              <option selected="">Germany</option>
              <option>UK</option>
              <option>USA</option>
              <option>France</option>
            </select>
            <span class="info flaticon flaticon-info">Please provide your location as we let advice seekers filter by location.</span>
          </div>
        </div>
        <div class="basics-sect">
          <p class="basics-head">Your timezone</p>
          <p>Pacific Standart Time (GMT-8) <a class="btn btn-primary btn-xs right" href="#">Change</a>
          </p>
        </div>
      </div>
      <div class="col-md-offset-2 col-md-6">
        <p class="profile-heading">A few quick reminders
          <a class="right" href="#">
            <small>See all reminders</small>
          </a>
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco esse cillum dolore eu fugiat nulla pariatur anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore aliquip ex.</p>
        <p>Lorem elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis irure dolor in reprehenderit in voluptate velit.</p>
      </div>
    <% end %>
    <% unless @user.can_be_an_expert? %>
      <hr>
      <div class=" col-md-12">
        <p class="lead">These are the things you need to do:</p>
        <ul>
          <% if needs_more_contacts? %>
            <li>You need at least <%= required_contacts %> in your Linkedin network. We use this information to verify your profile's authenticity.</li>
          <% end %>
          <% if needs_linkedin? %>
            <li>You need a profile at <%= link_to 'Linkedin', 'https://linkedin.com', target: '_blank' %> to offer your services on our platform.</li>
          <% end %>
          <% if needs_confirmation? %>
            <li>You have not confirmed your email address yet. Please note that you have <strong><%= hours_left %></strong> before this account will become <strong>unusable and eventually be deleted</strong>. You can send yourself another confirmation email <%= link_to 'here', '#', target: '_blank' %>.</li>
          <% end %>
          <% if needs_payment? %>
            <li>You still need to attach a payment method to your account. You can do so <%= link_to 'in the payment settings', billing_settings_path, target: '_blank'  %>.</li>
          <% end %>
          <% if needs_expert_terms? %>
            <li>You need to accept the terms for experts on our platform. You can do so <%= link_to 'here', '#', target: '_blank' %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
