<div id="offerfull-basics" class="offerfull">
  <div class="well clr">
    <div class="col-md-12">
      <div class="eligibility row <%= profile_class %>">
        <div class="col-md-9">
          <% if @user.can_be_an_expert? %>
            <p class="heading">Great, you're eligible!</p>
            <% if @user.wants_to_be_an_expert? %>
              <p>Your profile is active!</p>
            <% else %>
              <p>You can activate your profile now!</p>
            <% end %>
          <% else %>
            <p class="heading">You cannot be an expert yet!</p>
            <p>There is some required information missing before you can offer your services with us.</p>
          <% end %>
        </div>
        <div class="eligibility-status elg col-md-3">
          <% if @user.can_be_an_expert? %>
            <% if @user.wants_to_be_an_expert? %>
              Active
            <% else %>
              <%= link_to activate_offers_path, method: :put do %>
                Click here to activate
              <% end %>
            <% end %>
          <% else %>
            Inactive
          <% end %>
        </div>
      </div>
    </div>
    <div class="clr text-right">
      <p>
        <% if active_profile? %>
          <%= link_to activate_offers_path, class: 'redsemi', method: :put do %>
            <small>Deactivate</small>
          <% end %>
        <% end %>
      </p>
    </div>
    <% if active_profile? %>
      <div class="col-md-4">
        <div class="basics-sect">
          <p class="basics-head">
            Your expert profile page
            <span class="flaticon flaticon-help help" data-toggle="tooltip" data-placement="top" title="" data-original-title="You can share it within your acquaintances who would like to get insights from you so they can get on your schedule on your terms – works great for after speaking engagements or when you get cold called."></span>
          </p>
          <p class="bigger blue">
            <%= link_to expert_page(@user), target: '_blank' do %>
              <%= expert_page @user %>
            <% end %>

            <%= link_to 'Change', '#', class: "btn btn-primary btn-xs right", data: { target: '#ep_modal', toggle: 'modal' }  %>
          </p>
          <%= render partial: 'expert_page_modal' %>
        </div>
        <div class="basics-sect">
          <p class="basics-head">Your location</p>
          <div class="clr">
            <%= form_for @user, url: profile_settings_path, remote: true do |f| -%>
              <%= f.country_select :country, nil, { iso_codes: true }, class: 'form-control' %>
            <% end %>
            <span class="info flaticon flaticon-info">Please provide your location as we let advice seekers filter by location.</span>
          </div>
        </div>
        <div class="basics-sect">
          <p class="basics-head">Your timezone</p>
          <p>
            <%= render partial: 'users/dashboard/timezone' %>
            <%= link_to 'Change', '#', class: "btn btn-primary btn-xs right", data: { target: '#tz_modal', toggle: 'modal' }  %>
          </p>
          <%= render partial: 'users/dashboard/timezone_modal', locals: { url: profile_settings_path } %>
        </div>
      </div>
      <div class="col-md-offset-2 col-md-6">
        <p class="profile-heading">A few quick reminders</p>
        <p>Once a call is confirmed, we will share a call-in number with you – your personal contact data is never shared (we will share your public LinkedIn profile though) </p>
        <p>Once someone requests a call with you, we will email you and you have xx hours to accept</p>
        <p>If you successfully complete meetings, your meeting partner can award you an “awesome” in the particular category – we will display your &quot;awesome&quot;-count in the match results</p>
        <p>We will not share or post any negative reviews should you get some (we will only email you to let you know)</p>
      </div>
    <% end %>
    <% unless @user.can_be_an_expert? %>
      <hr>
      <div class=" col-md-12">
        <p class="lead">These are the things you need to do:</p>
        <ul>
          <% if needs_more_contacts? %>
            <li>You need at least <%= required_contacts %> in your Linkedin network. We use this information to verify your profile's authenticity.</li>
          <% end %>
          <% if needs_linkedin? %>
            <li>You need a profile at <%= link_to 'Linkedin', 'https://linkedin.com', target: '_blank' %> to offer your services on our platform.</li>
          <% end %>
          <% if needs_confirmation? %>
            <li>You have not confirmed your email address yet. Please note that you have <strong><%= hours_left %></strong> before this account will become <strong>unusable and eventually be deleted</strong>. You can send yourself another confirmation email <%= link_to 'here', '#', target: '_blank' %>.</li>
          <% end %>
          <% if needs_payment? %>
            <li>You still need to attach a payment method to your account. You can do so <%= link_to 'in the payment settings', billing_settings_path, target: '_blank'  %>.</li>
          <% end %>
          <% if needs_expert_terms? %>
            <li>You need to accept the terms for experts on our platform. You can do so <%= link_to 'here', '#', target: '_blank' %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <% if active_profile? %>
    <%= render partial: 'profile' %>
  <% end %>
</div>
