<header id="header">
  <div class="container">
    <div id="logo">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', alt: 'CONSULTED.co' %>
      <% end %>
      </div>
    <% if user_signed_in? && !synchronizing? %>
      <div id="account" class="">
        <div id="account-img">
          <%= image_tag @user.profile_image.url, alt: @user.name, class: 'img-circle' %>
        </div>
        <div id="account-name"><%= @user.name %></div>
        <div id="account-links" class="clr">
          <%= link_to settings_path do %>
            Settings
          <% end %>
          <%= link_to_if @user.expert?, 'My expert page', "#{root_url}/#{@user.slug}" %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            Log out
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</header>
