<nav id="nav">
  <div class="container">
    <ul id="nav-tabs" class="nav nav-tabs">
      <% if user_signed_in? %>
        <%= content_tag :li, class: active_class(overview_path) do %>
          <%= link_to 'Overview', overview_path %>
        <% end %>
      <% end %>
      <%= content_tag :li, class: active_class(find_an_expert_path) do %>
        <%= link_to 'Find an expert', find_an_expert_path  %>
      <% end %>
      <% if user_signed_in? %>
        <%= content_tag :li, class: active_class(offers_path) do %>
          <%= link_to 'Offer your time', offers_path %>
        <% end %>
      <% end %>
    </ul>
    <% if user_signed_in? %>
      <ul id="nav-side">
        <li><a href="#">Your Calls</a></li>
        <%= content_tag :li, class: active_class(favorites_path) do %>
          <%= link_to favorites_path do %>
            Bookmarked Experts
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</nav>
<div id="navtoggle">
  <span class="navtoggle-menu">Menu</span>
  <span class="fa fa-bars"></span>
</div>
