<div class="signup login">
  <div class="well col-md-6 col-md-offset-3">
    <div class="content">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| -%>
        <div class="header">
          <h4 class="title" id="logo_bk">
            <%= image_tag 'logo-black.png', alt: 'CONSULTED.co' %>
          </h4>
          <p class="popup-slogan text-center">Welcome!</p>
          <hr>
          <%= render partial: 'layouts/messages' %>
          <br>
        </div>
        <div class="body">
          <div class="popup-row">
            <%= link_to user_omniauth_authorize_path(provider:'linkedin'), class: 'btn btn-primary flaticon flaticon-linkedin' do %>
              Connect with LinkedIn
            <% end %>
          </div>
          <div class="popup-row">
            <%= link_to '#', class: 'btn btn-primary flaticon flaticon-facebook' do %>
              Connect with Facebook
            <% end %>
          </div>
          <div class="popup-row text-center">
            - or -
          </div>
          <div class="popup-row control-cover">
            <%= f.text_field :email, class: 'form-control', placeholder: 'Log in with your email', id: 'login_field' %>
            <span class="checked" style="display:none"></span>
            <span class="crossed" style="display:none"><i class="fa fa-ban"></i></span>
          </div>
          <div class="popup-row control-cover" id="password_fields" style="display:none">
            <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
            <%= f.submit "Log in", class: 'btn btn-primary' %>
          </div>

          <div class="popup-row text-center">
            <%= link_to new_user_registration_path do %>
              No account yet? Sign up here!
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>