<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <style>
    <%# render partial: 'pdfs/invoice_styles' %>
  </style>
  <%= stylesheet_link_tag(asset_data_base64('application.css')) %>
</head>
<body>
<div class="pdf-header">
  <div class="row">
    <div class="col-xs-6">
      <%= image_tag(asset_data_base64('logo_black.png'), alt: 'logo') %>
      <p>
        Consulted, Inc.<br>
        San Francisco, CA 94104<br>
        USA
      </p>
      <table class="table no-borders width-auto address-box">
        <tr>
          <td>Bill to:</td>
          <td><%= invoice.seeker_id_for_invoice %>
            <br>
            Attn: <%= invoice.seeker_name %></td>
        </tr>
      </table>
    </div>
    <div class="col-xs-6">
      <%= render partial: 'pdfs/invoice_right_header', locals: { invoice: invoice } %>
    </div>
  </div>
</div>
<div class="pdf-body">
  <%= render partial: 'pdfs/invoice_body', locals: { invoice: invoice } %>
</div>
<%= render partial: 'pdfs/invoice_footer', locals: { invoice: invoice } %>
</body>
</html>

