<div>
  <div id="filter" ng-hide="open">
    <div class="container">
      <span class="filter-prop" ng-show="currentDays().length > 0">
        <strong>Days:</strong> Mon, Tue, Wed</span>
      <span class="filter-prop" ng-show="currentLocations().length > 0">
        <strong>Locations:</strong> {{currentLocations().join(", ")}}</span>
      <span class="filter-prop" ng-show="currentLanguages().length > 0">
        <strong>Languages:</strong>
        <span ng-repeat="lang in currentLanguages()">{{lang | capitalize}}<span ng-hide="$last">, </span></span>
      </span>
      <span class="filter-prop">
        <strong>Hourly rate:</strong> ${{currentRate().from}} - ${{currentRate().to}}</span>
      <span class="filter-prop">
        <strong>Experience:</strong> {{currentExperience().from}} - {{currentExperience().to}} years</span>
    </div>
  </div>
  <div id="filter-expanded" ng-show="open" ng-class="{'in':open}">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <% if user_signed_in? %>
            <div class="ovr-timezone">
              <strong>Your timezone</strong>
              <%= render partial: 'users/dashboard/timezone' %>
              <a class="btn btn-primary btn-xs" id="change_tz" data-toggle="modal" data-target="#tz_modal">Change</a>
              <%= render partial: 'users/dashboard/timezone_modal' %>
            </div>
          <% end %>
          <h1>Choose your options</h1>
          <div class="fexp-block" dates>
            <div class="fexp-head">
              Availability Day
              <a ng-click="all()" class="btn btn-xs" ng-class="{'btn-primary':fortnight(),'btn-default':!fortnight()}">Fortnight</a>
              <a ng-click="specific()" class="btn btn-xs" ng-class="{'btn-primary':!fortnight(),'btn-default':fortnight()}">Specific Date</a>
            </div>
            <div class="fexp-body fexp-body-7 clr">
              <label ng-click="toggle(day)" class="check round-check" ng-class="{'in':selected(day)}" ng-repeat="day in days">
                <div class="round"></div>{{day | moment:'ddd'}}
                <small>{{day | moment:'MMM DD'}}</small>
              </label>
            </div>
          </div>
          <div class="fexp-block" times>
            <div class="fexp-head">
              Availability Time
              <a ng-click="all()" class="btn btn-xs" ng-class="{'btn-primary':allDay(),'btn-default':!allDay()}">All Day</a>
              <a ng-click="specific()" class="btn btn-xs" ng-class="{'btn-primary':!allDay(),'btn-default':allDay()}">Specific Time</a>
            </div>
            <div class="fexp-body fexp-body-9 clr">
              <label ng-click="toggle(time)" class="check round-check" ng-class="{'in':selected(time)}" ng-repeat="time in times">
                <div class="round"></div>
                <small>{{time.name}}</small>
              </label>
            </div>
          </div>
        </div>
        <div id="filter-boxparams" class="col-md-5">
          <div class="half">
            <div class="fexp-block" continents>
              <p class="fexp-head-sm">Expert location</p>
              <div class="fexp-body">
                <div class="clr">
                  <label class="check line-check" ng-class="{'in':allActive()}">
                    <input type="checkbox" ng-click="toggleAll()"> All
                  </label>
                  <label class="check line-check" ng-class="{'in':isActive(continent)}" ng-repeat="continent in continents | order">
                    <input type="checkbox" ng-click="toggle(continent)">{{continent}}
                  </label>
                </div>
              </div>
            </div>
            <div class="fexp-block" languages>
              <p class="fexp-head-sm">Language</p>
              <div class="fexp-body">
                <div class="clr">
                  <label class="check line-check" ng-class="{'in':allActive()}">
                    <input type="checkbox" ng-click="toggleAll()"> All
                  </label>
                  <label class="check line-check" ng-class="{'in':isActive(language)}" ng-repeat="language in languages | order">
                    <input type="checkbox" ng-click="toggle(language)" > {{language | capitalize}}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="half">
            <div class="fexp-block" rate>
              <p class="fexp-head-sm">Hourly rate</p>
              <div class="clr">
                <input type="text" class="ranger" data-min="<%= @rates.min %>" data-max="<%= @rates.max %>" data-from="<%= @rates.min %>" data-to="<%= @rates.max %>" />
              </div>
            </div>
            <div class="fexp-block" experience>
              <p class="fexp-head-sm">Years of offering experience</p>
              <div class="clr">
                <input type="text" class="ranger" data-min="<%= @experience.min %>" data-max="<%= @experience.max %>" data-from="<%= @experience.min %>" data-to="<%= @experience.max %>" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7" tags>
          <div id="keywords" class="fexp-block">
            <div class="fexp-head">
              Keywords
              <span class="tag flaticon flaticon-close" ng-repeat="tag in tags" ng-click="remove(tag)">{{tag}}</span>
              <form ng-submit="add()" class="tag-adding-form" ng-show="adding">
                <input type="text" class="tag-add" ng-model="next_tag">
              </form>
              <span class="addtag" ng-click="add()">add</span>
            </div>
          </div>
        </div>
        <div class="col-md-5 text-center" bookmark>
          <% if user_signed_in? %>
            <label id="onlybook" class="check" ng-class="{'in':isActive()}">
              <input type="checkbox" ng-click="toggle()">
              Search only my bookmarks
            </label>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="filter-toggle-wrap">
    <div class="container">
      <span id="filter-toggle" class="flaticon flaticon-points" ng-click="open = !open"></span>
    </div>
  </div>
</div>
