<div>
  <div id="filter" ng-hide="open">
    <div class="container">
      <span class="filter-prop" ng-show="currentDays().length > 0">
        <strong>Days:</strong> Mon, Tue, Wed</span>
      <span class="filter-prop" ng-show="currentLocations().length > 0">
        <strong>Locations:</strong> {{currentLocations().join(", ")}}</span>
      <span class="filter-prop" ng-show="currentLanguages().length > 0">
        <strong>Languages:</strong>
        <span ng-repeat="lang in currentLanguages()">{{lang | capitalize}}<span ng-hide="$last">, </span></span>
      </span>
      <span class="filter-prop">
        <strong>Hourly rate:</strong> ${{currentRate().from}} - ${{currentRate().to}}</span>
      <span class="filter-prop">
        <strong>Experience:</strong> {{currentExperience().from}} - {{currentExperience().to}} years</span>
    </div>
  </div>
  <div id="filter-expanded" ng-show="open" ng-class="{'in':open}">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <% if user_signed_in? %>
            <div class="ovr-timezone">
              <strong>Your timezone</strong>
              <%= render partial: 'users/dashboard/timezone' %>
              <a class="btn btn-primary btn-xs" id="change_tz" data-toggle="modal" data-target="#tz_modal">Change</a>
              <%= render partial: 'users/dashboard/timezone_modal' %>
            </div>
          <% end %>
          <h1>Choose your options</h1>
          <div class="fexp-block">
            <div class="fexp-head">
              Availability Day
              <a href="#" class="btn btn-default btn-xs">All</a>
              <a href="#" class="btn btn-primary btn-xs">Specific Date</a>
            </div>
            <div class="fexp-body fexp-body-7 clr">
              <label class="check round-check">
                <input type="checkbox" name="chk_group1[]" value="value1">
                <div class="round"></div>Sunday
                <small>20 mar</small>
              </label>
              <label class="check round-check in">
                <input type="checkbox" name="chk_group1[]" value="value2" checked="">
                <div class="round"></div>Monday
                <small>21 mar</small>
              </label>
              <label class="check round-check in">
                <input type="checkbox" name="chk_group1[]" value="value3" checked="">
                <div class="round"></div>Tuesday
                <small>22 mar</small>
              </label>
              <label class="check round-check in">
                <input type="checkbox" name="chk_group1[]" value="value4" checked="">
                <div class="round"></div>Wednesday
                <small>23 mar</small>
              </label>
              <label class="check round-check">
                <input type="checkbox" name="chk_group1[]" value="value5">
                <div class="round"></div>Thursday
                <small>24 mar</small>
              </label>
              <label class="check round-check">
                <input type="checkbox" name="chk_group1[]" value="value6">
                <div class="round"></div>Friday
                <small>25 mar</small>
              </label>
              <label class="check round-check">
                <input type="checkbox" name="chk_group1[]" value="value7">
                <div class="round"></div>Saturday
                <small>26 mar</small>
              </label>
            </div>
          </div>
          <div class="fexp-block">
            <div class="fexp-head">
              Availability Time
              <a href="#" class="btn btn-default btn-xs">All Day</a>
              <a href="#" class="btn btn-primary btn-xs">Specific Time</a>
            </div>
            <div class="fexp-body fexp-body-9 clr">
              <label class="check round-check in">
                <input type="checkbox" name="chk_group2[]" value="value1" checked="">
                <div class="round"></div>
                <small>Until 6am</small>
              </label>
              <label class="check round-check in">
                <input type="checkbox" name="chk_group2[]" value="value2" checked="">
                <div class="round"></div>
                <small>6am-8am</small>
              </label>
              <label class="check round-check">
                <input type="checkbox" name="chk_group2[]" value="value3">
                <div class="round"></div>
                <small>8am-10am</small>
              </label>
              <label class="check round-check">
                <input type="checkbox" name="chk_group2[]" value="value4">
                <div class="round"></div>
                <small>10am-12am</small>
              </label>
              <label class="check round-check">
                <input type="checkbox" name="chk_group2[]" value="value5">
                <div class="round"></div>
                <small>12am-2pm</small>
              </label>
              <label class="check round-check">
                <input type="checkbox" name="chk_group2[]" value="value6">
                <div class="round"></div>
                <small>2pm-4pm</small>
              </label>
              <label class="check round-check">
                <input type="checkbox" name="chk_group2[]" value="value7">
                <div class="round"></div>
                <small>4pm-6pm</small>
              </label>
              <label class="check round-check">
                <input type="checkbox" name="chk_group2[]" value="value8">
                <div class="round"></div>
                <small>6pm-8pm</small>
              </label>
              <label class="check round-check">
                <input type="checkbox" name="chk_group2[]" value="value9">
                <div class="round"></div>
                <small>After 8pm</small>
              </label>
            </div>
          </div>
        </div>
        <div id="filter-boxparams" class="col-md-5">
          <div class="half">
            <div class="fexp-block" continents>
              <p class="fexp-head-sm">Expert location</p>
              <div class="fexp-body">
                <div class="clr">
                  <label class="check line-check" ng-class="{'in':isActive(continent)}" ng-repeat="continent in continents">
                    <input type="checkbox" ng-click="toggle(continent)">{{continent}}
                  </label>
                </div>
              </div>
            </div>
            <div class="fexp-block" languages>
              <p class="fexp-head-sm">Language</p>
              <div class="fexp-body">
                <div class="clr">
                  <label class="check line-check" ng-class="{'in':isActive(language)}" ng-repeat="language in languages">
                    <input type="checkbox" ng-click="toggle(language)" > {{language | capitalize}}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="half">
            <div class="fexp-block" rate>
              <p class="fexp-head-sm">Hourly rate</p>
              <div class="clr">
                <input type="text" class="ranger" data-min="<%= @rates.min %>" data-max="<%= @rates.max %>" data-from="<%= @rates.min %>" data-to="<%= @rates.max %>" />
              </div>
            </div>
            <div class="fexp-block" experience>
              <p class="fexp-head-sm">Years of offering experience</p>
              <div class="clr">
                <input type="text" class="ranger" data-min="<%= @experience.min %>" data-max="<%= @experience.max %>" data-from="<%= @experience.min %>" data-to="<%= @experience.max %>" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7" tags>
          <div id="keywords" class="fexp-block">
            <div class="fexp-head">
              Keywords
              <span class="tag flaticon flaticon-close" ng-repeat="tag in tags" ng-click="remove(tag)">{{tag}}</span>
              <form ng-submit="add()" class="tag-adding-form" ng-show="adding">
                <input type="text" class="tag-add" ng-model="next_tag">
              </form>
              <span class="addtag" ng-click="add()">add</span>
            </div>
          </div>
        </div>
        <div class="col-md-5 text-center" bookmark>
          <label id="onlybook" class="check" ng-class="{'in':isActive()}">
            <input type="checkbox" ng-click="toggle()">
            Search only my bookmarks
          </label>
        </div>
      </div>
    </div>
  </div>
  <div id="filter-toggle-wrap">
    <div class="container">
      <span id="filter-toggle" class="flaticon flaticon-points" ng-click="open = !open"></span>
    </div>
  </div>
</div>
