<div>
  <div class="expert-left">
    <div class="expert-info">
      <div class="expert-images">
        <div class="expert-img">
          <img ng-src="{{offer.expert.image}}" alt="{{offer.expert.name}}">
        </div>
        <a ng-href="{{offer.expert.profile_url}}" target="_blank">Full Profile</a>
      </div>
      <div class="expert-name heading2">
        {{offer.expert.name}}
        <span id="bookmark" ng-hide="offer.expert.slug === '<%= @user.slug rescue '' %>' || <%= @user.nil? %>" >
          <span ng-show="offer.expert.bookmarked">
            <span class="fa fa-star" ng-click="bookmark(offer.expert)"></span>
          </span>
          <span ng-hide="offer.expert.bookmarked">
            <span class="fa fa-star-o" ng-click="bookmark(offer.expert)"></span>
          </span>
        </span>
      </div>
      <div ng-show="offer.expert.current_position">{{offer.expert.current_company.name}}, {{offer.expert.current_position}} {{offer.expert.current_year | careerYear}}</div>
      <div class="expert-exp">
        <strong>Category Experience:</strong> {{offer.experience}} years</div>
      <div class="expert-pph">
        <span class="price">${{offer.rate}}</span>/hour</div>
    </div>
    <div class="expert-cite" ng-show="offer.description">
      "{{offer.description | truncate:200:showDescription}}"
      <div class="text-center" ng-show="offer.description.length > 200">
        <a ng-hide="showDescription" ng-click="toggleDescription()">more</a>
        <a ng-show="showDescription" ng-click="toggleDescription()">less</a>
      </div>
    </div>
  </div>
  <div class="expert-right">
    <div class="expert-history">
      <ul>
        <li ng-repeat="company in offer.expert.companies | limitTo:careerLimit()"><strong>{{company.name}}</strong>, {{company.position}}, {{company.from | careerYear:company.to}}</li>
      </ul>
      <div class="text-center" ng-show="showToggle">
        <a ng-hide="allActive()" ng-click="toggleCareer()">show all</a>
        <a ng-show="allActive()" ng-click="toggleCareer()">show less</a>
      </div>
    </div>
    <div class="expert-rating">
      <div ng-show="offer.likes.length > 0">
        <div class="rating-hand">0</div>
        <span class="flaticon flaticon-help help" tooltip-placement="top" tooltip="'Awesome count' shows the average rate per hour of the last 5 awesome counts – provides a good indication to advice seekers at which rate 'awesomes' were collected"></span>
      </div>
    </div>
    <div class="expert-end">
      <div class="expert-act">
        <% if user_signed_in? %>
          {{offer.next_call | moment:'MMMM DD, YYYY'}}
          <br>
          {{offer.next_call | moment:'h:mm a'}}
          <br>
          Up to {{offer.maximum_call}} minutes
          <a ng-hide="offer.expert.slug === '<%= @user.slug rescue '' %>'" ng-hide="<%= @user.nil? %>" ng-href="<%= offers_path %>/{{offer.url}}/review/{{offer.next_call | moment}}" class="btn btn-primary">Contact</a>
        <% else %>
          <%= link_to new_user_registration_path, class: 'btn btn-primary' do %>
            Sign up to book
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
