<div class="signup login">
  <div class="well col-md-6 col-md-offset-3">
    <div class="content">
      <div class="header">
        <h4 class="title text-center" id="logo_bk">
          Booking scheduled
        </h4>
        <p class="text-center">We just send you an email with the booking details for your reference.</p>
        <hr>
        <%= render partial: 'layouts/messages' %>
        <br>
      </div>
      <div class="body">
        <p>Also, you will receive an email reminder <strong><%= @user.notification_time %> minutes</strong> in advance of the call. You can change this <%= link_to 'in your settings here', settings_path %>.</p>
        <hr>
        <div class="popup-row text-center">
          <%= link_to 'Overview', overview_path %>
        </div>
        <div class="popup-row text-center">
          or
        </div>
        <div class="popup-row text-center">
          <%= link_to 'Manage my meetings', '/my-calls' %>
        </div>
      </div>
    </div>
  </div>
</div>
