<footer id="footer" class="<%= inverted ? 'inverted' : 'landing' %>">
  <div class="container">
    <div id="foot-info">
      <p class="foot-text">We enable businesses to access high value expert advice on-demand</p>
      <p class="foot-addr">Consulted, Inc.
        <br/>San Francisco, CA 94104
        <br/>USA</p>
    </div>
    <div id="foot-menu" class="row">
      <div class="col-md-4">
        <p class="foot-menu-head">Marketplace</p>
        <ul class="foot-menu">
          <li>
            <%= link_to how_it_works_path do %>
              How it works
            <% end %>
          </li>
            <%= link_to case_studies_path do %>
              Case studies
            <% end %>
          </li>
          <li>
            <%= link_to make_the_most_path do %>
              Make the most of it
            <% end %>
          </li>
          <li>
            <%= link_to join_as_expert_path do %>
              Join as expert
            <% end %>
            </li>
          <li>
            <%= link_to confidentiality_path do %>
              Confidentiality
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <p class="foot-menu-head">Links</p>
        <ul class="foot-menu">
          <li>
            <%= link_to about_us_path do %>
              About Us
            <% end %>
          </li>
          <li>
            <%= link_to 'Contact us', new_contact_path  %>
          </li>
          <li>
            <%# This is external - via Zendesk %>
              <%= link_to 'https://consultedco.zendesk.com/hc/en-us', target: '_blank' do %>
                Help
              <% end %>
          </li>
          <li>
            <%= link_to terms_path do %>
              Terms of service
              <% end %>
          </li>
          <li>
            <%= link_to privacy_path do %>
              Privacy
              <% end %>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <p class="foot-menu-head">Connect</p>
        <ul class="foot-menu">
          <li>
            <%= link_to 'http://eepurl.com/QuL_f', target: '_blank' do %>
              <span class="fa fa-envelope-o"></span>Newsletter
            <% end %>
          </li>
          <li>
            <%= link_to 'https://twitter.com/consultedco', target: '_blank' do %>
              <span class="fa fa-twitter-square"></span>Twitter
            <% end %>
          </li>
          <li>
            <%= link_to 'https://www.linkedin.com/company/consulted-inc-/', target: '_blank' do %>
              <span class="fa fa-linkedin-square"></span>Linkedin
            <% end %>
          </li>
          <li>
            <%= link_to 'https://www.facebook.com/ConsultedCo', target: '_blank' do %>
              <span class="fa fa-facebook-square"></span>Facebook
            <% end %>
          </li>
          <li>
            <%= link_to 'https://www.google.com/+ConsultedCo', target: '_blank' do %>
              <span class="fa fa-google-plus-square"></span>Google+
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
