<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.png'  %>
    <title><%= @title ? "#{@title} - Consulted" : default_title %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Consulted" %>">
    <%= stylesheet_link_tag "follow" %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag 'compatibility' %>
    <![endif]-->
    <%= csrf_meta_tags %>
    <%= render partial: 'layouts/jquery' %>
    <%= render partial: 'layouts/zopim' %>
    <%= render partial: 'layouts/optimizely' %>
    <%= render partial: 'layouts/mixpanel' %>
  </head>
  <body class="<%= 'landing' unless user_signed_in? %>">
    <div ng-app="consulted.finder" data-group="<%= @group.slug %>" data-rate-min="<%= @rates.min %>" data-rate-max="<%= @rates.max %>" data-experience-min="<%= @experience.min %>" data-experience-max="<%= @experience.max %>" data-offset="<%= current_tz_offset unless @user.nil? %>">
      <div class="wrapper" class="offerfull-form">
        <% if user_signed_in? %>
          <%= render partial: 'layouts/application/navbar_loggedin' %>
        <% else %>
          <%= render partial: 'layouts/application/navbar_loggedout' %>
        <% end %>
        <div filter></div>
        <section id="main" ng-controller="ResultCtrl">
          <div class="container">
            <% unless user_signed_in? %>
              <p class="back-home text-left clr"><span class="flaticon flaticon-arrowleft"></span><%= link_to 'back to homepage', root_url %></p>
            <% end %>

            <%= render partial: 'layouts/breadcrumbs', locals: { group: @group, with_group: true} %>
            <div class="text-center" ng-show="searching">
              <i class="fa fa-spin fa-refresh fa-2x"></i>
            </div>
            <div no-results offers="offers"></div>
            <div ng-show="!searching && offers.length > 0">
              <div class="expert clr" offer="offer" ng-repeat="offer in offers track by offer.id"></div>
            </div>
          </div>
        </section>
        <%= render partial: 'layouts/signup' %>
        <div class="push"></div>
        <div class="footer">
          <%= render partial: 'layouts/footer', locals: { inverted: user_signed_in? } %>
          <%= render partial: 'layouts/copy' %>
        </div>
        <% %w(filter offer contact_expert no_results).each do |partial| %>
        <script type="text/ng-template" id="<%= partial %>">
          <%= render partial: "groups/ng/#{partial}"  %>
        </script>
        <% end %>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
