<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag  'favicon.png' %>
    <title><%= @title || default_title %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "CONSULTED.co" %>">
    <!--[if lt IE 9]>
      <%= javascript_include_tag 'compatibility' %>
    <![endif]-->
    <%= stylesheet_link_tag 'follow' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="landing">
    <%# Main navigation %>
    <%= render partial: 'layouts/static/navigation' %>
    <div class="wrapper">
      <section id="main">
        <%= yield %>
      </section>
      <div class="push"></div>
    </div>
    <div class="footer">
      <%= render partial: 'layouts/footer', locals: { inverted: user_signed_in? } %>
      <%= render partial: 'layouts/copy' %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'static' %>
    <%= render partial: 'layouts/zopim' %>
  </body>
</html>
